In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('nairTest.csv')

In [3]:
data.sample(n=10)

                         name  new_class
3863  J084612.98+482054.0.jpg          0
1595  J225426.53+011307.9.jpg          2
415   J160440.99+343948.0.jpg          2
1773  J095135.32+002605.0.jpg          4
2793  J111210.64-005845.1.jpg          2
2851  J150437.85+402219.4.jpg          3
3162  J111356.22+651039.4.jpg          3
3270  J075842.19+232127.2.jpg          2
785   J024807.15-091417.8.jpg          2
711   J031538.62-070443.7.jpg          3

In [4]:
serie0 = data[data.loc[:,'new_class'] == 0]
serie1 = data[data.loc[:,'new_class'] == 1]
serie2 = data[data.loc[:,'new_class'] == 2]
serie3 = data[data.loc[:,'new_class'] == 3]
serie4 = data[data.loc[:,'new_class'] == 4]

In [5]:
serie0 = serie0.sample(n=10)
serie1 = serie1.sample(n=10)
serie2 = serie2.sample(n=10)
serie3 = serie3.sample(n=10)
serie4 = serie4.sample(n=10)

In [7]:
grad_cam = pd.concat([serie0, serie1, serie2, serie3, serie4])

In [10]:
grad_cam.to_csv('grad_cam0.csv', index=None)